@import "tailwindcss";


:root {
  font-family: 'Inter',system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 600;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


button:hover {
  border-color: #000;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #000000;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
